html {
  /* FONT SIZING */
  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1600,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.07vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.91rem + 0.14vw), 1.05rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.36vw), 1.64rem);
  --step-2: clamp(1.62rem, calc(1.51rem + 0.54vw), 2.05rem);
  --step-3: clamp(1.94rem, calc(1.79rem + 0.78vw), 2.56rem);
  --step-4: clamp(2.33rem, calc(2.11rem + 1.09vw), 3.2rem);
  --step-5: clamp(2.8rem, calc(2.5rem + 1.51vw), 4.01rem);
  --step-6: clamp(3rem, calc(3.25rem + 2.25vw), 5.72rem);
  --step-7: clamp(4.7rem, calc(4.09rem + 3.06vw), 7.15rem);
  --step-8: clamp(5.64rem, calc(4.82rem + 4.12vw), 8.94rem);
  --step-9: clamp(6.77rem, calc(5.67rem + 5.5vw), 11.18rem);
  --step-10: clamp(8.13rem, calc(6.67rem + 7.3vw), 13.97rem);

  /* SPACING */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1600,21,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.53rem + 0.16vw), 0.69rem);
  --space-xs: clamp(0.88rem, calc(0.84rem + 0.16vw), 1rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
  --space-m: clamp(1.69rem, calc(1.61rem + 0.39vw), 2rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.47vw), 2.63rem);
  --space-xl: clamp(3.38rem, calc(3.23rem + 0.7vw), 3.94rem);
  --space-2xl: clamp(4.5rem, calc(4.31rem + 0.94vw), 5.25rem);
  --space-3xl: clamp(6.75rem, calc(6.47rem + 1.41vw), 7.88rem);

  /* ONE-UP PAIRS */
  --space-3xs-2xs: clamp(0.31rem, calc(0.22rem + 0.47vw), 0.69rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.45rem + 0.55vw), 1rem);
  --space-xs-s: clamp(0.88rem, calc(0.77rem + 0.55vw), 1.31rem);
  --space-s-m: clamp(1.13rem, calc(0.91rem + 1.09vw), 2rem);
  --space-m-l: clamp(1.69rem, calc(1.45rem + 1.17vw), 2.63rem);
  --space-l-xl: clamp(2.25rem, calc(1.83rem + 2.11vw), 3.94rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.91rem + 2.34vw), 5.25rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.66rem + 4.22vw), 7.88rem);

  /* CUSTOM PAIRS */
  --space-s-l: clamp(1.13rem, calc(0.75rem + 1.88vw), 2.63rem);
}
